<!-- Contact Name -->
<div class="row">
    <div class="col-md-12">
        <h2>Contact Name</h2>
    </div>
</div>

<div class="row box-block">
    <div class="col-md-12">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="editedContacts.contactName" placeholder="Contact Name">
        </div>
    </div>
</div>
<!-- Contact Name End -->

<!-- Contact Address -->
<div class="row">
    <div class="col-md-12">
        <h2>Address</h2>
    </div>
</div>

<div class="row box-block">
    <div class="col-md-12">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="editedContacts.addressline1" placeholder="Address Line 1">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="editedContacts.addressline2" placeholder="Address Line 2">
        </div>

        <div class="form-inline">
            <div class="row">
                <div class="form-group margin-fix col-md-4">
                    <label class="sr-only">City</label>
                    <input type="text" class="form-control goLong" ng-model="editedContacts.city" placeholder="City">
                </div>

                <state-drop-down></state-drop-down>

                <div class="form-group margin-fix col-md-4">
                    <label class="sr-only">Zip Code</label>
                    <input type="text" class="form-control goLong" ng-model="editedContacts.zipcode" placeholder="Zip Code">
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Contact Address End -->

<!-- Contact Phone Numbers -->
<div class="row">
    <div class="col-md-12">
        <h2>Phone Numbers</h2>
    </div>
</div>


<div class="row box-block">
    <div class="col-md-12">

        <div class="form-inline">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="sr-only">Phone Numbers</label>
                    <input type="text" class="form-control goLong" ng-model="editedContacts.phoneName" placeholder="Phone Name">
                </div>
                <div class="form-group col-md-6">
                    <label class="sr-only">Phone Number</label>
                    <input type="text" class="form-control goLong" ng-model="editedContacts.phoneNumber" placeholder="Phone Number">
                </div>
            </div>
        </div>

        <div class="form-inline">
            <div class="row">
                <div class="form-group margin-fix col-md-6">
                    <label class="sr-only">Phone Number</label>
                    <input type="text" class="form-control goLong" placeholder="Phone Number">
                </div>
                <div class="form-group margin-fix col-md-6">
                    <label class="sr-only">Phone Number</label>
                    <input type="text" class="form-control goLong" placeholder="Phone Number">
                </div>
            </div>
        </div>

        <div class="form-inline">
            <div class="row">
                <div class="form-group margin-fix col-md-6">
                    <label class="sr-only">Phone Number</label>
                    <input type="text" class="form-control goLong" placeholder="Phone Number">
                </div>
                <div class="form-group margin-fix col-md-6">
                    <label class="sr-only">Phone Number</label>
                    <input type="text" class="form-control goLong" placeholder="Phone Number">
                </div>
            </div>
        </div>


        <div class="row page-foot">
            <div class="col-md-12">
                <div class="pull-right">

                    <span ng-if="updateInfo == false">
					 <button type="button" ng-click="addContact()" class="btn btn-purple">+ Add</button>
					</span>

					                    <span ng-if="updateInfo == true">
					 <button type="button" ng-hide="hideRemoveContact == true" ng-click="removeContact($index)" class="btn btn-danger">Remove</button>
					 <button type="button" ng-click="updateContact()" class="btn btn-purple">Update</button>
					</span>


                </div>
            </div>
        </div>

    </div>
</div>
<!-- Contact Phone Numbers Ends-->

<!-- Hours of Operation-->
<div class="row">
    <div class="col-md-12">
        <h2>Hours of Operation</h2>
    </div>
</div>

<div class="row box-block">
    <div class="col-md-6">

        <div class="social-sets">
            <ul>
                <li class="social-icons">
                    Monday
                </li>
                <li class="social-icons">
                    Tuesday
                </li>
                <li class="social-icons">
                    Webnesday
                </li>
                <li class="social-icons">
                    Thursday
                </li>
                <li class="social-icons">
                    Friday
                </li>
                <li class="social-icons">
                    Saturday
                </li>
                <li class="social-icons">
                    Sunday
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">

        <div class="social-sets">
            <ul>
                <li class="social-inputs">
                    <input type="text" class="form-control" placeholder="Hours">
                </li>
                <li class="social-inputs">
                    <input type="text" class="form-control" placeholder="Hours">
                </li>
                <li class="social-inputs">
                    <input type="text" class="form-control" placeholder="Hours">
                </li>
                <li class="social-inputs">
                    <input type="text" class="form-control" placeholder="Hours">
                </li>
                <li class="social-inputs">
                    <input type="text" class="form-control" placeholder="Hours">
                </li>
                <li class="social-inputs">
                    <input type="text" class="form-control" placeholder="Hours">
                </li>
                <li class="social-inputs">
                    <input type="text" class="form-control" placeholder="Hours">
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Hours of Operation Ends-->

<div class="row page-foot">
    <div class="col-md-12">
        <div class="pull-left">
            <button type="button" class="btn btn-danger">Delete</button>
        </div>

        <div class="pull-right">
            <button type="button" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-teal">Save</button>
        </div>
    </div>
</div>