 <div class="row">
   <div class="col-md-12">
    <h2>Contacts</h2>
    <p>When added these contacts will show up in the contact page and module in the page publisher. Setting the primary contact will set that information for the main contact and phone number in the site's header and footer.</p>
   </div>
</div>

<div class="row">

 <ul>
  <li ng-repeat="contact in contacts">
  <div class="col-md-6"> 
  <div class="box">


<div class="ribbon-wrap" ng-hide="primary == contact.primary">
	<div id="ribbon-head">
	</div>
	<div id="ribbon-tail">
	 <div id="left"></div>
	 <div id="right"></div>
	</div>
</div>

     <p class="bold">{{contact.contactName}}</p>
     <p>{{contact.addressline1}}</p>
     <p>{{contact.addressline2}}</p>
     <p>{{contact.city}}, {{contact.state}} {{contact.zipcode}}</p>

     <div class="box-number">
     	<span class="bold">{{contact.phoneName}} Phone:</span> {{contact.phoneNumber}}
     </div>

	 <div class="row page-foot box-actions">
	 <div class="col-md-12">
	<div class="pull-left">
	 <button type="button" class="btn btn-default" ng-click="editContact($index)"><i class="fa fa-pencil" aria-hidden="true"></i>
 Edit</button>
	 </div>

	  <div class="pull-right">
       <input type="radio" name="primaryInfo" ng-model="contact.selected" ng-click="primaryCheck($index)" ng-value="true"> Set as Primary
	 </div>
	 </div>
	</div> 
  </div>
  </div> 
 </li>
 </ul>
</div>


<div class="row page-foot">
 <div class="col-md-12">

  <div class="pull-right">
 <button type="button" ng-click="addNewContact()" class="btn btn-purple">+ Add Contact</button>
 </div>
 </div>
</div> 